<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Imágenes Satelitales de Áreas Degradadas en Perú</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <div class="search-container">
        <h1>Búsqueda de Imágenes Satelitales de Áreas Degradadas en Perú</h1>
        <input type="text" id="searchInput" placeholder="Tipee el código de su botadero/área degradada" class="search-bar" required>
        <button onclick="performSearch()" class="search-button">Buscar</button>
    
        <div id="results" class="results" style="max-height: 600px; overflow-y: auto; margin-top: 20px;">
            <!-- Search results will be updated here -->
        </div>
    </div>
    
<script src="{{ url_for('static', filename='search.js') }}"></script>
</body>
</html>
