<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Imágenes Satelitales de Áreas Degradadas en Perú</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="{{ url_for('static', filename='csv_handler.js') }}"></script>  
    <script src="{{ url_for('static', filename='mapview.js') }}" defer></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.30/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.30/"></script>

    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #f8f8f8;
            text-align: center;
            padding: 10px 0;
            z-index: 1000;
        }


    </style>
</head>
<body>

    <div class="main-container">
        <div class="search-container">
            <h1 class="main-title">Búsqueda de Imágenes Satelitales de Áreas Degradadas en Perú</h1>
            <input type="text" id="searchInput" placeholder="Tipee el código de su botadero/área degradada" class="search-bar" required>
            <button onclick="performSearch()" class="search-button">Buscar</button>
        </div>
        <div class="map-results-container">

            <div id="results" class="results" style="max-height: 600px; overflow-y: auto; margin-top: 20px;">
                <!-- Search results will be updated here -->
            </div>
            <div id="map" class="hidden" ></div>
        </div>
    </div>
    <footer>
        <div id="updateInfo"></div>
    </footer>

<script src="{{ url_for('static', filename='search.js') }}"></script>
<script src="{{ url_for('static', filename='update_log.js') }}"></script>
</body>

</html>
