<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Drive File Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="search-container">
    <h1>Google Drive File Search</h1>
    <form action="/search" method="post">
        <input type="text" name="keyword" placeholder="Enter keyword" class="search-bar" required>
        <br>
        <button type="submit" class="search-button">Search</button>
    </form>

    {% if filenames %}
    <div class="results">
        <h2>Search Results for "{{ keyword }}":</h2>
        <ul>
            {% for filename in filenames %}
            <li>{{ filename }}</li>
            {% endfor %}
        </ul>
    </div>
    {% elif keyword %}
    <div class="results">
        <p>No results found for "{{ keyword }}".</p>
    </div>
    {% endif %}
</div>

</body>
</html>
